<%- include('./partials/header'); %>

<form>
  <h2>Sign Up</h2>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <div class="password error"></div>
  <button type="submit">Sign Up</button>
</form>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    // Get the values
    const email = form.email.value;
    const password = form.password.value;

    console.log(email, password);
  });
</script>

<%- include('./partials/footer'); %>
