<%- include('./partials/header'); %>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Banana Boost</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
      recusandae.
    </p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Banana Boost</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
      recusandae.
    </p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Banana Boost</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
      recusandae.
    </p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Banana Boost</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
      recusandae.
    </p>
  </li>
</ul>

<%- include('./partials/footer'); %>
